/* 
 * Custom CSS.
 */
#header .branding a.brand {
    background-image: none;
    padding-left: 0px;
}
.inner_logo {
    width: 80%;
    height: auto;
}
.card-signup .header {
    box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56), 0 4px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
    margin-top: -40px !important;
    padding: 5px 0 !important;
}
.header-primary {
    background: none !important;
}
.card .header {
    padding: 0 !important;
}
.btn-right-align {
    float: right;
}
.error {
    color: #D9534F !important;
}
.error p{
    font-size: 12px
}
.btn-bg {
    background: #45e0c5;
    padding: 10px 25px !important;
    color: #fff !important;
    margin-right: 15px;
    cursor: pointer;
    z-index: 999;
}
.btn-bg:hover {
    background: #45e0c5 !important;
    color: #fff !important;
}
.asterisk {
    color: #D9534F;
}
.file_icons {
    font-size: 40px;
}
.dash_href {
    text-decoration: none !important;
}
.file_icons_add {
    font-size: 25px;
    padding: 10px;
}
.action_btn{
    float: right;
    /* width: 182px; */
    position: relative;
    top: -10px;
    display: flex;
    /* flex-direction: column; */
    margin-right: 16px;
}
.action_btn form {
    /* float: left; */
}
.edit_btn {
    margin-right: 13px !important;
    font-size: 11px  !important;
    padding: 7px 20px !important;
}
.reject_btn {
    font-size: 11px !important;
    padding: 7px 20px !important;
}
.border_data {
    border: 1px solid #ddd;
    padding: 0px 15px;
    margin-bottom: 30px;
}
.border_data .row {
    border-bottom: 1px solid #ddd;
}
.border_data .row:last-child {
    border-bottom: none;
}
.btn-grp-mr {
    margin: 0px;
    padding: 5px;
    background: #ddd;
}
.btn-pad {
    padding: 0px;
}
.center {
    text-align: center;
}
.b-b {
    border-bottom: 0px !important;
}
.alert {
    float: left;
    width: 100%;
    position: relative;
    z-index: 5000000;
}
.dept_sign_btn {
    margin-left: 55px;
    bottom: 10px;
}
.pdf-container {
    margin: 15px;
}
.content-container {
    margin: 15px;
}
.form-group {
    /* margin: 15px 0 0 0 !important; */
    margin: 0;
    margin-bottom: 15px !important;
}
.form-group .checkbox label, .form-group .radio label, .form-group label {
    color: #444444;
    font-weight: 500;
}
.department_header_text {
    line-height: 60px;
    padding: 0 10px;
    color: #FFFFFF;
    /* width: auto; */
    float: left;
}
.col-lg-5-cols,
.col-md-5-cols,
.col-sm-5-cols,
.col-xs-5-cols {
    position: relative;
    width: 20%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.top_report_chart span {
    display: block;
}
.remark_textarea {
    border: 1px solid #ddd !important;
    border-bottom: none !important;
    padding: 10px !important;
    border-radius: 5px !important;
}
.picker {
  text-transform: uppercase;
}
.panel .panel-heading .panel-title>a {
    padding: 15px 15px !important;
}
.panel-body-no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
} 
.sro_no_show {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: 600;
    width: 300px;
    display: block;
    margin: 0 auto;
}
tfoot.hide-if-no-paging td {
    width: 100%;
}
.btn-bg{
    background: #4caf50;
}
.btn-bg:hover{
    background: #4caf50 !important;
}

.filter-with-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-with-add .btn {
   margin: 0 !important;
}

.d-none {
    display: none !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}
#error{
    color:red;
}

.form-group .form-control {
    margin-bottom: 7px !important;
}
.border_data .fileupload-buttonbar {
    border-bottom: none;
}

.docker-ul-head {
    padding-top: 30px;
}
.paragrap-space{
    margin-top:9px;
}
.flex-end-btn{
    justify-content: flex-end !important;
    margin-top: -70px;
    padding-right: 0 !important;
}

