/*-----------------------contact-us-------------*/
@media screen and (max-width: 1290px){

}
@media screen and (max-width: 1199px){
    .search-box input {
        background: #fff url(../images/sprite-icon.png) no-repeat 135px -106px;
    }

    .caption-top h1 {
        font-size: 32px;
    }
    .main_nav ul li a {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        padding: 17px 10px;
        display: block;
    }
    .c-box h2 {
        font-size: 14px;
    }
    #announcements-vertical-news {
        height: 291px !important;
    }
    #news-events-vertical-ticker {
        height: 291px !important;
    }
    .about-footer-box .box-right {
        top: 0px; 
    }
    .about-footer-box{
        min-height:160px;
    }
    .about-footer-box h2{
        font-size: 20px;
    }

    .about-footer-box .box-right {
        width: 100%;
        text-align: center;
    }
    .health-left-bg ul li {
        font-size: 12px;
        padding: 25px 0 0px 55px;
    }
    .district-health h2 {
        font-size: 16px;
    }
    .district-health p {
        font-size: 12px;
        line-height: 20px;
    }
    .about-footer-box p {
        text-align: center;
        line-height: 20px;
    }
    .gallery-content{min-height:122px;}

    .top-right {
        margin-top: -27px;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1199px) {


}
@media screen and (max-width: 1100px){

    .logo-menu {
        background: none;
    }

}
@media screen and (max-width: 991px){ 

.top-pics{
	margin-top:30px
}


    .middle-heading {
        margin-top: 20px;
    }
    .map-e img {
        /* text-align: center; */
        /* margin: 20px auto; */
        /* display: block; */
        position: absolute;
        bottom: 52px;
        right: 0px;
        width: 84px;
    }
    .middle-heading {
        text-align: center;
    }
    .links{
        height: 197px !important;
    }
    .maf{
        display: none;
    }


    .e-margin{
        margin-bottom: 30px;
    }

    .caption-top h1 {
        font-size: 24px;
        line-height: 32px;
    }
    /*    .main_nav {
            display: none; 
        }*/
    .fb_iframe_widget iframe,.twitter-container{margin-top:10px;}
    .menu-btns p {
        margin-top: 31px;
        font-size: 20px;
        margin-left: 20px;
    }
    .about-footer-box {
        margin-top: 20px;
        min-height: 200px;
    }
    .about-footer-box h3 {
        font-size: 18px;}
    .about-footer-box p{
        font-size: 13px;}
    .about-footer-box .box-right {
        width: 100%;
        margin-top: 5px;
    }
    .announcement-section {
        margin-top: 30px;
    }
    #news-events-vertical-ticker {
        height: 344px !important;
    }
    .col-lg-6:first-child .district-health{
        margin-top: 0px !important; 
    }.col-lg-6:nth-child(2) .district-health{
        margin-top: 0px !important; 
    }

    .health-left-bg {
        margin-top: 30px;
    }


    .footer-section-first ul li{margin-bottom: 5px;}
    .director-section ul li{line-height:20px;}
    .director-section ul.border-line:before { min-height: 222px;}

    .stricky-fixed .menu-btns p {
        margin-top: 42px;
        margin-left: 26px !important;
        font-size: 16px;
    }
    .search-box input {
        background: #fff url(../images/sprite-icon.png) no-repeat 158px -105px;
        width: 230px;
    }
}
@media screen and (max-width: 900px){ 


}
@media screen and (max-width: 807px){ 
    .banner{overflow: hidden;}

}
@media screen and (max-width: 800px){ 

}
@media screen and (max-width: 768px){ 
    .caption-top h1 {
        font-size: 21px;
        line-height: 32px;
    }
    .pratap h1 {
        top: 26px;
    }
    .pratap h4 {
        top: 24px;
    }
    .box {
        padding: 0px 0px 64px 0px;
    }
    .col-lg-5:nth-child(2) .box {
        margin-top: 20px;
    }

    .col-lg-4:nth-child(2) .box, .col-lg-4:nth-child(3) .box{
        margin-top: 20px;
    }
    .logo-menu {
        background: none;
    }
    .stricky .search-box {
        display: none;
    }
}
@media only screen and (min-width: 767px) and (max-width: 1199px) {
    .about-footer-box .box-left{
        float: none;
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .about-footer-box .about-circle {
        width: 80px;
        height: 80px;
        border-radius: 50px;
        float: none;
        margin-top: -14px;
        position: relative;
        display: block;
        margin: 0 auto 15px;
    }
    /*    .box {
            padding: 0px 0px 0px 0px;
            min-height: 250px;
        }
        .pratap h4 {
            font-size: 13px;
            left: 16px;
            top: -24px;
            text-align: center;
        }
        .pratap h1 {
            font-size: 14px;
            left: 0px;
            top: -17px;
            text-align: center;
        }
        .box img {
            text-align: center;
            display: block;
            float: none;
            margin: 20px auto;
            border-radius: 50%;
        }*/

}
@media only screen and (min-width: 767px) and (max-width: 991px) {

}
@media only screen and (min-width: 390px) and (max-width: 767px) {

}
@media only screen and (min-width: 600px) and (max-width: 767px) {

}
@media only screen and (min-width: 500px) and (max-width: 600px) {

}   
@media only screen and (min-width: 320px) and (max-width: 500px) {

}
@media screen and (max-width: 767px){

    .map-e img {
        right: 19px;
    }

    .main_nav ul {
        width: 301px !important;
        /* float: right; */
        background: #0075c3;
        display: none;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9991;
        overflow: auto;
        padding-bottom: 30px;
    }
    .main_nav ul {
        padding: 0;
        margin: 0;
        width: 100%;
        float: left;
        list-style: none;
    }  
    .fadeInLeftBig {
        animation-name: fadeInLeftBig;
    }
    .animated {
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    .menu_close_btn{
        width: 32px;
        height: 32px;
        position: relative;
        top: 0px;
        float: right;
        background: #062b67 url(../images/clear-button.png) no-repeat 8px 8px;
        color: #ffffff;
        display: block;
        cursor: pointer;
        z-index: 99999;
    }
    .main_nav ul li {
        width: 100%;
        border-bottom: 1px solid #4879c7;
        border-top: 1px solid #285596;
        transition: background-color 0.2s linear 0s;
    }
    .main_nav ul li:hover {
        background: #118ada;
    }

    .menu-overlay {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.80);
        display: none;
        position: fixed;
        z-index: 999;
    }

    .hambergur-menu i:last-child {
        margin-bottom: 0px;
    }
    .menu-text {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 14px;
        color: #ffffff;
        line-height: 24px;
        text-transform: uppercase;
    }
    .hambergur-menu {
        float: right;
        position: relative;
        top: 2px;
        cursor: pointer;
    }
    .hambergur-menu i {
        display: block;
        width: 34px;
        height: 2px;
        margin-bottom: 7px;
        background: #ffffff;
    }
    .main_nav {
        padding: 7px;
    }
    .menu-text {
        display: inline-block;
    }
    .main-ul{
        display: none;
    }
    .col-lg-6:first-child .district-health{
        margin-top: 0px !important; 
    }
    .col-lg-6:nth-child(2) .district-health{
        margin-top: 20px !important; 
    }
    .col-lg-6:nth-child(3) .district-health{
        margin-top: 21px !important;
    }
    .col-lg-6:nth-child(4) .district-health{
        margin-top: 23px !important;
        margin-bottom: 15px;
    }

    .about-footer-box .box-right {
        top: 15px; 
    }
    .banner-navigation {
        position: absolute;
        bottom: 5px;
        right: -23px;
        width: 100px;
        z-index: 9;
    }
    .about-footer-box h3 {
        font-size: 18px;
        text-align: left;
    }
    .about-footer-box p {
        font-size: 13px;
        text-align: left;
    }
    .fb_iframe_widget iframe{margin-top:10px;}
    #gotoTop{display: none !important;}
    .top-menu li {
        padding: 0px 10px 1px 0px;
    }
    .tooltip-button {
        display: block;
    }
    .setting-responsive{
        display: none;
    }
    .facebook-container {
        margin-top: 15px;}
    .twitter-container {
        margin-top: 30px;}
    .director-section-border {
        padding-bottom: 10px;
    }
    .director-section h2 {
        margin-bottom: 10px;}
    .director-section ul li {
        padding: 5px 20px;}
    .about-footer-box .box-right {
        width: 75%;}
    .about-footer-box{min-height: 100px;}
    .about-footer-box .about-circle {
        left: 20px;}

    .news-section{
        margin-top: 30px;
    }
    iframe{    width: 100% !important;}
    #facebook{ 
        width: 100% !important;
    }

    .director-section ul {
        padding-top: 0px;
    }
    .banner-navigation .nabber-next:hover {
        background: #f16c51 url(../images/sprite-icon.png)  no-repeat -101px -627px;
    }
    .banner-navigation .nabber-prev:hover {
        background: #f16c51 url(../images/sprite-icon.png) no-repeat -47px -627px;
    }
    .banner-navigation .nabber-prev {
        margin-right: 5px;
        display: inline-block;
        width: 24px;
        height: 24px;
        background: #139191 url(../images/sprite-icon.png) no-repeat -47px -627px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
    .banner-navigation .nabber-next {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: #139191 url(../images/sprite-icon.png) no-repeat -101px -627px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
    .top-right {
        margin-top: 0px;
        text-align: left;
        margin-bottom: 10px;
    }
    .top-menu.left {
        float: none;
        text-align: left;
    }
}
@media screen and (max-width:631px){
    .logo img {
        width: 65%;
    }
    .menu-right {
        margin-top: -73px;
    }
}
@media screen and (max-width:600px){
    .box {
        padding: 0px 0px 45px 0px;
    }
    .facebook-container, .twitter-container1 {
        width: 100%;
    }
    .timeline-Widget{width: 100%;}
    .banner {
        display: none;
    }
    .banner.banner-responsive {
        display: block;
    }
}
@media screen and (max-width:549px){
    .stricky-fixed .menu-right {
        margin-top: -65px;
    }
    .menu-toggle {
        margin-top: 38px;
    }
    .menu-btns p {
        margin-top: 40px;
    }
    .stricky-fixed .menu-btns {
        margin-top: 49px;
    }
    .menu-right {
        margin-top: -69px;
    }
    .stricky-fixed .logo img {
        width: 100%;
    }
    .logo img {
        width: 65%;
    }
}
@media screen and (max-width: 536px){
    .pratap h1 {
        top: 20px;
    }
    .pratap h4 {
        top: 14px;
    }
}
@media screen and (max-width:510px){
    .top-menu.left {
        padding: 5px 0;
    }
    .about-footer-box p{font-size: 13px;}
    .view {
        padding: 10px 40px 10px 4px;
    }
    .top-menu li {
        padding: 0px 4px 0px 4px;
    }
    .top-menu {
        line-height: 26px;
    }
    .about-footer-box .box-right {
        width: 66%;
    }
    .about-footer-box .about-circle {
        left: 5px;
    }
    .about-footer-box h3 {
        font-size: 17px;
    }
}
@media screen and (max-width:500px){
    .heading {
        font-size: 25px;
    }
    .moon{
        width: 100%;
    }
    .stricky-fixed .menu-right {
        margin-top: -73px;
    }
}
@media screen and (max-width:500px){
    .about-footer-box .box-right {
        top: 5px;
    }
}
@media screen and (max-width:400px){
    .pratap h1 {
        font-size: 15px;
    }
    .pratap h4 {
        font-size: 12px;
    }
}
@media screen and (max-width:360px){

}
@media screen and (max-width:320px){

}
